@font-face
  font-family: 'icomoon'
  src:  url('assets/fonts/icomoon.eot?m74uhy')
  src:  url('assets/fonts/icomoon.eot?m74uhy#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?m74uhy') format('truetype'),
    url('assets/fonts/icomoon.woff?m74uhy') format('woff'),
    url('assets/fonts/icomoon.svg?m74uhy#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-schedule:before
  content: "\e8b5"

.icon-accessibility:before
  content: "\e84e"

.icon-account_box:before
  content: "\e851"

.icon-account_circle:before
  content: "\e853"

.icon-add:before
  content: "\e145"

.icon-add_box:before
  content: "\e146"

.icon-add_circle:before
  content: "\e147"

.icon-album:before
  content: "\e019"

.icon-announcement:before
  content: "\e85a"

.icon-apps:before
  content: "\e5c3"

.icon-arrow_back:before
  content: "\e5c4"

.icon-arrow_downward:before
  content: "\e5db"

.icon-arrow_forward:before
  content: "\e5c8"

.icon-arrow_upward:before
  content: "\e5d8"

.icon-audiotrack:before
  content: "\e3a1"

.icon-autorenew:before
  content: "\e863"

.icon-beenhere:before
  content: "\e52d"

.icon-cached:before
  content: "\e86a"

.icon-cancel:before
  content: "\e5c9"

.icon-chat_bubble:before
  content: "\e0ca"

.icon-chat_bubble_outline:before
  content: "\e0cb"

.icon-check:before
  content: "\e5ca"

.icon-check_box:before
  content: "\e834"

.icon-check_box_outline_blank:before
  content: "\e835"

.icon-navigate_before:before
  content: "\e408"

.icon-navigate_next:before
  content: "\e409"

.icon-close:before
  content: "\e5cd"

.icon-delete:before
  content: "\e872"

.icon-disc_full:before
  content: "\e610"

.icon-exposure_neg_1:before
  content: "\e3cb"

.icon-exposure_plus_1:before
  content: "\e3cd"

.icon-face:before
  content: "\e87c"

.icon-fast_forward:before
  content: "\e01f"

.icon-fast_rewind:before
  content: "\e020"

.icon-favorite:before
  content: "\e87d"

.icon-favorite_border:before
  content: "\e87e"

.icon-fiber_new:before
  content: "\e05e"

.icon-get_app:before
  content: "\e884"

.icon-filter:before
  content: "\e3d3"

.icon-format_list_bulleted:before
  content: "\e241"

.icon-forward:before
  content: "\e154"

.icon-headset:before
  content: "\e310"

.icon-mood_bad:before
  content: "\e7f3"

.icon-music_note:before
  content: "\e405"

.icon-panorama:before
  content: "\e40b"

.icon-pause:before
  content: "\e034"

.icon-play_arrow:before
  content: "\e037"

.icon-play_circle_filled:before
  content: "\e038"

.icon-play_circle_outline:before
  content: "\e039"

.icon-queue_music:before
  content: "\e03d"

.icon-radio:before
  content: "\e03e"

.icon-repeat:before
  content: "\e040"

.icon-repeat_one:before
  content: "\e041"

.icon-satellite:before
  content: "\e562"

.icon-search:before
  content: "\e8b6"

.icon-settings:before
  content: "\e8b8"

.icon-skip_next:before
  content: "\e044"

.icon-skip_previous:before
  content: "\e045"

.icon-stars:before
  content: "\e8d0"

.icon-stop:before
  content: "\e047"

.icon-swap_calls:before
  content: "\e0d7"

.icon-sync_problem:before
  content: "\e629"

.icon-thumb_down:before
  content: "\e8db"

.icon-thumb_up:before
  content: "\e8dc"

.icon-volume_mute:before
  content: "\e04e"

.icon-volume_off:before
  content: "\e04f"

.icon-volume_up:before
  content: "\e050"

.icon-notes:before
  content: "\e901"

.icon-notes-outline:before
  content: "\e902"

